.Footer {
  height: 375px;
  background-color: #fdb913;
}

.Footer-logo {
  margin-bottom: 10px;
  height: 100px;
}

.social-links {
  color: green;
}

.social-links:hover {
  color: #78be21;
}

.admin-link {
  color: black;
}

.admin-link:hover {
  color: gray;
}
