html,
body {
  height: 100%;
  margin: 0;
}

.container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
}

main {
  flex: 1 0 auto; /* Main content should expand to fill the remaining space */
  padding-top: 20px; /* Adjust padding-top to match the height of the fixed header */
  padding-left: 10%;
  padding-right: 10%;
  margin: 0; /* Ensure there is no margin causing extra space */
}

.img-custom {
  max-height: 400px; /* Set the maximum height you want */
  object-fit: cover; /* Ensures the image covers the element, maintaining aspect ratio */
  width: auto; /* Optional: allows the image to scale proportionally */
}

.list-group-item {
  background-color: transparent !important; /* Removes the background color */
  border: none !important; /* Optional: Removes the border */
}

.Homepage-our-process-btn {
  background-color: #fdb913 !important;
  width: 50%;
}

.follow-us {
  color: green;
}

.follow-us:hover {
  color: #78be21;
}
