nav {
  background-color: #faf9f8 !important;
}

.navbar-nav .nav-link,
.navbar-brand .nav-text {
  font-size: 1rem;
}

.navbar-nav .nav-link {
  color: black !important;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-logo {
  height: 35px;
}

.navbar-buy-now-btn {
  width: 100% !important;
  background-color: #78be21 !important;
  color: white !important;
}

.custom-dropdown {
  right: 5px;
  width: 300px;
  display: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.custom-dropdown.show {
  display: block;
}

.custom-dropdown li {
  font-size: 0.9rem;
  color: #333;
}

.custom-dropdown .btn-outline-secondary {
  padding: 0.2rem 0.5rem;
  font-size: 0.75rem;
  border-radius: 6px;
}

.custom-dropdown .fw-semibold {
  font-weight: 600;
}

/* .custom-dropdown .checkout-button {
  background-color: #78be21 !important;
  color: black !important;
  font-weight: 500;
  border-radius: 6px;
}

.custom-dropdown .checkout-button:hover {
  background-color: #5a9c1e !important;
} */

.custom-dropdown .text-muted {
  color: #888 !important;
}

.dropdown-menu a:hover {
  background-color: transparent !important;
  color: black !important;
}

.dropdown-menu a.active {
  background-color: transparent !important;
  color: black !important;
}

.dropdown-item:focus,
.dropdown-item:active {
  background-color: transparent !important; /* Prevents the blue background */
  color: black !important;
}

.about-us-dropdown {
  color: black !important;
}

.checkout-button {
  background-color: #78be21 !important;
  color: black !important;
}

.checkout-button:hover {
  background-color: #5a9c1e !important;
}

.cart-shipping-msg {
  font-size: 12px;
  text-align: center;
}

@media (max-width: 992px) {
  .navbar-nav .nav-link,
  .navbar-brand .nav-text {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .navbar-nav .nav-link,
  .navbar-brand .nav-text {
    font-size: 0.95rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-nav {
    white-space: normal; /* allow wrapping in mobile view */
  }

  .navbar-buy-now-btn {
    width: 50%;
    color: black !important;
  }

  .container {
    padding-top: 0px !important;
  }

  .nav-title {
    padding: 0px !important;
  }

  .nav-text {
    font-size: 1.1rem;
  }
}
