nav {
  background-color: tan !important;
}

.navbar {
  background-color: #f8f9fa; /* Light gray background */
}

.navbar-nav .nav-link {
  color: white !important; /* Custom link color */
}

.navbar-brand {
  font-size: 1.5rem; /* Larger brand font size */
}

.navbar-logo {
  height: 35px;
}

.navbar-buy-now-btn {
  background-color: #78be21 !important;
  color: white;
}

.custom-dropdown {
  right: 5px;
  width: 275px;
  display: none;
}

.about-us-dropdown {
  color: white !important;
}

.custom-dropdown.show {
  display: block;
}

.custom-dropdown .dropdown-item:nth-child(odd) {
  background-color: #f8f9fa;
}

.custom-dropdown .dropdown-item:nth-child(even) {
  background-color: #e9ecef;
}

.checkout-button {
  background-color: #78be21 !important;
  color: white !important;
}

.checkout-button:hover {
  background-color: #5a9c1e !important;
}
