.our-process-page {
  padding: 5px 150px;
}

.our-process-image {
  height: aut0;
  width: 70%;
  border-radius: 25px;
}

@media (max-width: 750px) {
  .our-process-page {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
