.Product-image {
  /* height: 150px; */
  max-height: 180px !important;
  object-fit: cover;
}

.Product {
  min-width: 250px;
  background-color: white;
  position: relative !important;
}

.add-to-cart-btn {
  background-color: #fdb913 !important;
}

.on-sale {
  color: red;
  text-decoration: line-through;
}

.best-seller {
  border: none;
  width: 90px;
  height: auto;
  position: absolute !important;
  top: -35px;
  right: -45px;
}
