.Product-image {
  height: 150px;
  max-width: 150px;
  object-fit: cover;
}

.Product {
  min-width: 250px;
  background-color: white;
}

.add-to-cart-btn {
  background-color: #fdb913 !important;
}

.on-sale {
  color: red;
  text-decoration: line-through;
}
